
main
{
	font-family:cursive;
}
header
{
	color:whitesmoke;
	text-align:center;
	background-color:darkviolet;
}


h1
{
	text-shadow:2px 2px darkgrey;
}

h2
{
	color: darkviolet;
	padding:2px;
}


details
{
	color: darkviolet;
	text-align:left;

}

.left {
  background-color:whitesmoke;
  background-size:cover;
  width: 14%;
  float:left;
  padding-left:2% 0;
}

.left img {
  float: left;
  border: solid 1px #000000;
  width: 30%;
  height:70%;
  margin: 10%;
  padding: 5px;
  background-color:darkviolet;
  transition:transform 2s,height,width;
  transition-timing-function:linear;
  transition-delay:0.5s;
}

img:hover
{
	height:100%;
	width:80%;
	transform:rotate(360deg);
}

/*img:active
{

}*/

nav
{
	background-color:whitesmoke;
}
a
{
	font-family:cursive;
	text-align:center;
	display:inline-block;
	width:100px;
	margin-right:100px;
	font-size:25px;
	color:whitesmoke;
	background-color:darkviolet;

}

.right {
  width:74%;
  display: inline-block;
  padding-left: 2%;
 }

a:link
		{
			text-decoration:none;
			font-weight:bold;
			width:100px;
			margin-right:100px;
		}

a:visited
		{
			text-decoration:none;
			background-color:lightpink;
			font-weight:bold;
			width:100px;
			margin-right:100px;
		}

a:hover, a:focus
		{
			text-decoration:none;
			background-color:skyblue;
			font-weight:bold;
			width:100px;
			margin-right:100px;
		}
a:active		
	
	{
		text-decoration:none;
		background-color:skyblue;
		font-weight:bold;
		width:100px;
		margin-right:100px;

	}		
